@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
    <div class="menu">
        <h2>@ViewData["Title"]</h2>

        <p>Use this page to detail your site's privacy policy.</p>
    </div>
