@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}
    <div class="menu">
        <h2>@ViewData["Title"]</h2>
        <h3>@Model.Message</h3>

        <p>PROFILE PAGE!</p>

        <img src="~/images/user.png"  style="max-width: 10%; max-height: 10%; border-radius:50%;"/>
        Firstname Surname
        <br />
        User Type
        <br />
        Rating 5*

    </div>

