@page
@model CarPool.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}
<body>
    <div class="menu">
        <h2>Settings</h2>
        Please put settings in here ty
    </div>
    
</body>


